aiida_core
aiida_core/
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class
*~
\#*\#
*.swp
# C extensions
*.so

# distribution build directories
*.egg-info/
build/
dist/
*/docs/_build/

.cache/

siesta_plugin_files/examples/submission/siesta/submit_test/
