include setup.json
include AUTHORS.txt
include CHANGELOG.md
include PyPI-README.rst
include LICENSE.txt
graft aiida_siesta/utils
graft aiida_siesta/examples
prune tests
prune aiida_siesta/docs/tutorials/first_workchain
prune aiida_siesta/docs/tutorials/data_icn2_2020
