include *.rst *.json *.txt *.md
recursive-include aiida_siesta/docs/ *.rst
recursive-include aiida_siesta/examples/ *.txt *.psf *.psml *.cif 00_README
recursive-include aiida_siesta/utils *.yaml
prune tests
